In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
#warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv('C:/Users/valef/Desktop/DIPLOMADO UDD/python/hotel_booking.csv')

In [5]:
df['reservation_status_date']= pd.to_datetime(df['reservation_status_date']) #para transformar la variable a tipo fecha

In [15]:
df_cleaned = df.dropna(subset=['children', 'country']) #eliminación de datos nulos
#df_cleaned.info()
df_cleaned1 = df_cleaned #df de respaldo con las variables object en categorias

In [21]:
# Convertir solo las columnas de tipo object a tipo category
for column in df_cleaned1.select_dtypes(include='object').columns:
    df_cleaned1[column] = df_cleaned1[column].astype('category')

In [23]:
df_cleaned1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118898 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118898 non-null  category
 1   is_canceled                     118898 non-null  int64
 2   lead_time                       118898 non-null  int64
 3   arrival_date_year               118898 non-null  int64
 4   arrival_date_month              118898 non-null  category
 5   arrival_date_week_number        118898 non-null  int64
 6   arrival_date_day_of_month       118898 non-null  int64
 7   stays_in_weekend_nights         118898 non-null  int64
 8   stays_in_week_nights            118898 non-null  int64
 9   adults                          118898 non-null  int64
 10  children                        118898 non-null  float64
 11  babies                          118898 non-null  int64
 12  meal                            118898 non-null  category
 13  country                         118898 non-null  category
 14  market_segment                  118898 non-null  category
 15  distribution_channel            118898 non-null  category
 16  is_repeated_guest               118898 non-null  int64
 17  previous_cancellations          118898 non-null  int64
 18  previous_bookings_not_canceled  118898 non-null  int64
 19  reserved_room_type              118898 non-null  category
 20  assigned_room_type              118898 non-null  category
 21  booking_changes                 118898 non-null  int64
 22  deposit_type                    118898 non-null  category
 23  agent                           102894 non-null  float64
 24  company                         6623 non-null    float64
 25  days_in_waiting_list            118898 non-null  int64
 26  customer_type                   118898 non-null  category
 27  adr                             118898 non-null  float64
 28  required_car_parking_spaces     118898 non-null  int64
 29  total_of_special_requests       118898 non-null  int64
 30  reservation_status              118898 non-null  category
 31  reservation_status_date         118898 non-null  datetime64[ns]
 32  name                            118898 non-null  category
 33  email                           118898 non-null  category
 34  phone-number                    118898 non-null  category
 35  credit_card                     118898 non-null  category
dtypes: category(15), datetime64[ns](1), float64(4), int64(16)
memory usage: 35.7 MB

In [25]:
# Ver frecuencia de categorías con value_counts()
print("\nFrecuencia de categorías con value_counts():")
print(df['hotel'].value_counts())

Frecuencia de categorías con value_counts():
hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

In [47]:
categorical_columns = df_cleaned1.select_dtypes(include=['category']).columns

# Verificar si se han identificado columnas categóricas
if categorical_columns.empty:
    print("No se encontraron columnas categóricas.")
else:
    print(f"Columnas categóricas encontradas: {list(categorical_columns)}\n")

    # Obtener la frecuencia de las categorías en todas las columnas categóricas
    for column in categorical_columns:
        print(f"Frecuencia de categorías en la columna '{column}':")
        print(df_cleaned1[column].value_counts())
        print()

Columnas categóricas encontradas: ['hotel', 'arrival_date_month', 'meal', 'country', 'market_segment', 'distribution_channel', 'reserved_room_type', 'assigned_room_type', 'deposit_type', 'customer_type', 'reservation_status', 'name', 'email', 'phone-number', 'credit_card']

Frecuencia de categorías en la columna 'hotel':
hotel
City Hotel      79302
Resort Hotel    39596
Name: count, dtype: int64

Frecuencia de categorías en la columna 'arrival_date_month':
arrival_date_month
August       13852
July         12628
May          11779
October      11095
April        11045
June         10927
September    10467
March         9739
February      8012
November      6752
December      6728
January       5874
Name: count, dtype: int64

Frecuencia de categorías en la columna 'meal':
meal
BB           91863
HB           14434
SC           10638
Undefined     1165
FB             798
Name: count, dtype: int64

Frecuencia de categorías en la columna 'country':
country
PRT    48586
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
MLI        1
MMR        1
MRT        1
SMR        1
PYF        1
Name: count, Length: 177, dtype: int64

Frecuencia de categorías en la columna 'market_segment':
market_segment
Online TA        56402
Offline TA/TO    24160
Groups           19806
Direct           12448
Corporate         5111
Complementary      734
Aviation           237
Name: count, dtype: int64

Frecuencia de categorías en la columna 'distribution_channel':
distribution_channel
TA/TO        97730
Direct       14483
Corporate     6491
GDS            193
Undefined        1
Name: count, dtype: int64

Frecuencia de categorías en la columna 'reserved_room_type':
reserved_room_type
A    85601
D    19173
E     6497
F     2890
G     2083
B     1114
C      931
H      601
L        6
P        2
Name: count, dtype: int64

Frecuencia de categorías en la columna 'assigned_room_type':
assigned_room_type
A    73863
D    25166
E     7738
F     3732
G     2539
C     2354
B     2159
H      708
I      357
K      279
P        2
L        1
Name: count, dtype: int64

Frecuencia de categorías en la columna 'deposit_type':
deposit_type
No Deposit    104163
Non Refund     14573
Refundable       162
Name: count, dtype: int64

Frecuencia de categorías en la columna 'customer_type':
customer_type
Transient          89174
Transient-Party    25078
Contract            4076
Group                570
Name: count, dtype: int64

Frecuencia de categorías en la columna 'reservation_status':
reservation_status
Check-Out    74745
Canceled     42950
No-Show       1203
Name: count, dtype: int64

Frecuencia de categorías en la columna 'name':
name
Michael Johnson      48
Robert Smith         48
Michael Smith        47
John Smith           45
Christopher Smith    44
                     ..
Heather Cherry        1
Heather Clements      1
Heather Colon MD      1
Heather Conley        1
Julia Hayes           1
Name: count, Length: 81234, dtype: int64

Frecuencia de categorías en la columna 'email':
email
Michael.C@gmail.com          6
TJohnson@outlook.com         5
KJohnson@gmail.com           5
JJohnson@hotmail.com         5
ASmith@yahoo.com             5
                            ..
Grant.Juan@att.com           1
Grant.Jason29@xfinity.com    1
Grant.J@protonmail.com       1
Grant.J@comcast.net          1
Zuniga_Thomas@outlook.com    1
Name: count, Length: 115425, dtype: int64

Frecuencia de categorías en la columna 'phone-number':
phone-number
100-009-1307    1
700-575-4581    1
700-676-1813    1
700-645-8893    1
700-632-5042    1
               ..
401-188-7246    1
401-186-4687    1
401-159-4614    1
401-151-9969    1
999-999-0072    1
Name: count, Length: 118898, dtype: int64

Frecuencia de categorías en la columna 'credit_card':
credit_card
************3627    28
************4923    28
************3793    27
************3972    27
************9864    27
                    ..
************6349     3
************6338     3
************1966     3
************9283     2
************4916     2
Name: count, Length: 9000, dtype: int64

In [49]:
# Identificar columnas numéricas (enteras)
int_columns = df_cleaned.select_dtypes(include=['int64']).columns

# Verificar si se han identificado columnas enteras
if int_columns.empty:
    print("No se encontraron columnas enteras.")
else:
    print(f"Columnas enteras encontradas: {list(int_columns)}\n")

    # Obtener la frecuencia de los valores en todas las columnas enteras
    for column in int_columns:
        print(f"Frecuencia de valores en la columna '{column}':")
        print(df_cleaned[column].value_counts())
        print()

Columnas enteras encontradas: ['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'days_in_waiting_list', 'required_car_parking_spaces', 'total_of_special_requests']

Frecuencia de valores en la columna 'is_canceled':
is_canceled
0    74745
1    44153
Name: count, dtype: int64

Frecuencia de valores en la columna 'lead_time':
lead_time
0      6223
1      3393
2      2033
3      1802
4      1696
       ...
400       1
370       1
532       1
371       1
463       1
Name: count, Length: 479, dtype: int64

Frecuencia de valores en la columna 'arrival_date_year':
arrival_date_year
2016    56435
2017    40604
2015    21859
Name: count, dtype: int64

Frecuencia de valores en la columna 'arrival_date_week_number':
arrival_date_week_number
33    3571
30    3080
32    3039
34    3038
18    2909
21    2849
28    2845
17    2804
20    2783
29    2757
42    2734
31    2732
41    2692
15    2673
25    2659
27    2657
38    2655
23    2617
35    2590
39    2573
22    2546
24    2495
13    2408
16    2401
19    2399
40    2391
26    2390
43    2339
44    2253
14    2251
37    2224
8     2203
36    2146
10    2142
9     2106
7     2095
12    2065
11    2060
45    1932
53    1808
49    1774
47    1671
46    1564
48    1495
50    1493
6     1486
4     1469
5     1376
3     1300
2     1213
52    1187
1     1044
51     915
Name: count, dtype: int64

Frecuencia de valores en la columna 'arrival_date_day_of_month':
arrival_date_day_of_month
17    4390
5     4294
15    4161
25    4144
26    4137
9     4082
12    4077
16    4058
19    4041
2     4037
20    4019
18    3986
24    3980
28    3927
8     3908
30    3833
3     3833
6     3813
14    3799
27    3787
21    3754
4     3747
13    3723
7     3657
1     3609
23    3608
11    3590
22    3584
29    3567
10    3554
31    2199
Name: count, dtype: int64

Frecuencia de valores en la columna 'stays_in_weekend_nights':
stays_in_weekend_nights
0     51680
2     33249
1     30526
4      1849
3      1253
6       153
5        78
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
Name: count, dtype: int64

Frecuencia de valores en la columna 'stays_in_week_nights':
stays_in_week_nights
2     33574
1     30091
3     22203
5     11051
4      9554
0      7593
6      1491
10     1030
7      1027
8       654
9       231
15       85
11       55
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
25        6
18        6
30        5
17        4
24        3
40        2
33        1
32        1
26        1
34        1
35        1
41        1
Name: count, dtype: int64

Frecuencia de valores en la columna 'adults':
adults
2     89495
1     22735
3      6197
0       393
4        62
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: count, dtype: int64

Frecuencia de valores en la columna 'babies':
babies
0     117984
1        898
2         14
10         1
9          1
Name: count, dtype: int64

Frecuencia de valores en la columna 'is_repeated_guest':
is_repeated_guest
0    115092
1      3806
Name: count, dtype: int64

Frecuencia de valores en la columna 'previous_cancellations':
previous_cancellations
0     112451
1       6017
2        113
3         65
24        48
11        35
4         31
26        26
25        25
6         22
19        19
5         19
14        14
13        12
21         1
Name: count, dtype: int64

Frecuencia de valores en la columna 'previous_bookings_not_canceled':
previous_bookings_not_canceled
0     115501
1       1452
2        536
3        301
4        209
       ...
47         1
49         1
50         1
51         1
72         1
Name: count, Length: 73, dtype: int64

Frecuencia de valores en la columna 'booking_changes':
booking_changes
0     100902
1      12639
2       3790
3        925
4        375
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
16         2
17         2
12         2
11         2
20         1
21         1
18         1
Name: count, dtype: int64

Frecuencia de valores en la columna 'days_in_waiting_list':
days_in_waiting_list
0      115200
39        227
58        164
44        141
31        127
        ...
116         1
109         1
37          1
89          1
36          1
Name: count, Length: 128, dtype: int64

Frecuencia de valores en la columna 'required_car_parking_spaces':
required_car_parking_spaces
0    111588
1      7277
2        28
3         3
8         2
Name: count, dtype: int64

Frecuencia de valores en la columna 'total_of_special_requests':
total_of_special_requests
0    69991
1    33121
2    12922
3     2487
4      339
5       38
Name: count, dtype: int64